@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- gallery -->
<div class="gallery" id="gallery">
    <h3 class="title">Collaboration</h3>
    <div class="gallery-grids-top">
        <div class="gallery-grids">
            <div class="col-md-6 col-sm-6 gallery-grid-top">
                <div class="gallery-grid-top-img">
                    <a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g1.jpg" alt="" /></a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6  gallery-right">
                <div class="gallery-right-grid">
                    <div class="col-md-6 col-sm-6  gallery-grid-img">
                        <a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g2.jpg" alt=""></a>
                    </div>
                    <div class="col-md-6 col-sm-6 gallery-grid-img">
                        <a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g3.jpg" alt=""></a>
                    </div>

                </div>
                <div class="gallery-right-grid gallery-right-top-grid">
                    <div class="col-md-6 col-sm-6 gallery-grid-img">
                        <a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g4.jpg" alt=""></a>
                    </div>
                    <div class="col-md-6 col-sm-6 gallery-grid-img">
                        <a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g5.jpg" alt=""></a>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//gallery -->
<!-- testimonials -->
<div class="testimonials" id="testimonials">
    <div class="container">

        <h3 class="title">testimonials</h3>

        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active">
                    <img class="img-responsive " src="images/t11.jpg" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1">
                    <img class="img-responsive" src="images/t22.jpg" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="2">
                    <img class="img-responsive" src="images/t33.jpg" alt="">
                </li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">

                <!-- Quote 1 -->
                <div class="item active">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo!
                                </p>
                                <h5>--kelly ove</h5>
                            </div>


                        </div>
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                                <h5>--Kennedy</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class=" left-matter">

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                                <h5>--James</h5>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>

            <!-- Carousel Buttons Next/Prev
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><span class="fa fa-chevron-left"></span></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><span class="fa fa-chevron-right"></span></a> -->
        </div>
    </div>
</div>
<!-- testimonials -->
<!-- contact -->
<div class=" contact-top">
    <iframe src="https://www.google.com/maps/place/Asrama+Polri+ex+brimob+Cilincing/@-6.1151187,106.9022465,14z/data=!4m19!1m13!4m12!1m4!2m2!1d106.9004475!2d-6.1229534!4e1!1m6!1m2!1s0x2e6a21a9e2dcb74b:0x3a25646dfdc3581f!2s"></iframe>
</div>
<div class="contact" id="contact">
    <div class="container">
        <h3 class="title ">CONTACT US</h3>



        <div class="col-md-6  col-sm-6 contact-form">
            <form action="#" method="post">
                <div class=" form-right form-left">
                    <input type="text" name="name" placeholder="Name" required="">
                </div>
                <div class=" form-right ">
                    <input type="text" name="Last name" placeholder="Last name" required="">
                </div>
                <div class="form-right form-left">
                    <input type="email" name="Email" placeholder="Email" required="">
                </div>
                <div class="form-right ">
                    <input class="phone" type="text" name="phone" placeholder="Phone" required="">
                </div>
            </form>

        </div>
        <div class="col-md-6 col-sm-6 msg-text">
            <form action="#" method="post">
                <textarea name="Message" placeholder="Message" required=""></textarea>
                <input type="submit" value="SUBMIT">
                <div class="clearfix"> </div>
            </form>
        </div>
        <div class="clearfix"> </div>



        <div class="contact-icons">
            <div class=" col-md-4 col-sm-5 footer_grid_left">
                <div class="icon_grid_left">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                </div>
                <h5>Address</h5>
                <p>Perumahan Polri Ex Brimob No.1, Tanjung Priok,<span>Jakarta 14120.</span></p>
            </div>
            <div class=" col-md-4 col-sm-3 footer_grid_left">

                <div class="icon_grid_left">
                    <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
                </div>
                <h5> Contact Us</h5>
                <p>+(62) 813 0980 1805</p>
            </div>
            <div class=" col-md-4 col-sm-4  footer_grid_left">
                <div class="icon_grid_left">

                    <span class="fa fa-envelope" aria-hidden="true"></span>
                </div>
                <h5>Email Us</h5>
                <p><a href="mailto:info@example.com">jajanwae@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>


<!--//contact-->
<footer>
    <div class="container">
        <div class="col-md-3 header-side">
            <h2><a href="index.html">JajanWae</a></h2>
        </div>
        <div class="col-md-7 header-side">
            <p>©2018 Logistical. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
        </div>
        <div class="col-md-2 header-side">
            <div class="buttom-social-grids">

                <ul>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-rss"></span></a></li>
                    <li><a href="#"><span class="fa fa-vk"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--js working-->
<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
<script src="js/bootstrap.js"></script>
<!-- //js  working-->
<!--FlexSlider banner-->

<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});</script>
<!--End-slider-script-->
<!-- OnScroll-Number-Increase-JavaScript -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.countup.js"></script>
<script>$('.counter').countUp();</script>
<!-- //OnScroll-Number-Increase-JavaScript -->
<!-- light box gallery -->
<script src="js/lightbox-plus-jquery.min.js"></script>
<!-- //light box gallery -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">$(document).ready(function () {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};


			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});</script>
<!-- //here ends scrolling icon -->