@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Team section -->
<section class="team" id="team">
    <div class="container">
        <div class="about-head text-center ">
            <h3 class="title">Company</h3>
        </div>

        <div class="team-grid-top">
            <div class="col-md-3  team1">
                <div class="inner-team1">

                    <h3>Selena</h3>

                    <div class="team-social">
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-pinterest-p"></span></a>
                    </div>
                    <img src="images/c11.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">

                    <h3>Max Will</h3>

                    <div class="team-social">
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-pinterest-p"></span></a>
                    </div>
                    <img src="images/c3.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">

                    <h3>Sam kerry</h3>

                    <div class="team-social">
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-pinterest-p"></span></a>
                    </div>
                    <img src="images/c2.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-3 team1">
                <div class="inner-team1">

                    <h3>Jelly Watson</h3>

                    <div class="team-social">
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-pinterest-p"></span></a>
                    </div>
                    <img src="images/c4.jpg" alt="" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
</section>
<!-- //Team section -->