@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-w3">

    <div class="w3-agile-logo">
        <div class="container">
            <div class=" head-wl">
                <div class="headder-w3">
                    <h1><a href="index.html">JajanWae</a></h1>
                </div>

                <div class="w3-header-top-right-text">
                    <h6 class="caption"> Contact Us</h6>
                    <p>(+62)813 0980 1805</p>
                </div>

                <div class="email-right">
                    <h6 class="caption">Email Us</h6>
                    <p><a href="mailto:mail@example.com" class="info"> jajanwae@gmail.com</a></p>

                </div>


                <div class="agileinfo-social-grids">
                    <h6 class="caption">Follow Us</h6>
                    <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                        <li><a href="#"><span class="fa fa-vk"></span></a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    <div class="top-nav">
        <nav class="navbar navbar-default navbar-fixed-top">

            <!-- //header -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#about" class="scroll">Profile</a></li>
                        <li><a href="#team" class="scroll">Company</a></li>
                        <li><a href="#services" class="scroll">Services</a></li>
                        <li><a href="#gallery" class="scroll">Collaboration</a></li>
                        <li><a href="#contact" class="scroll">Contact</a></li>
                    </ul>
                </div>

            </div>
            <div class="clearfix"> </div>
        </nav>
    </div>
    <div class="container">
        <!-- header -->
        <header>

            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info">
                                    <h4>WELCOME TO JAJAN WAE</h4>
                                    <p>A Warehouse and International Payment Services.  </p>
                                    <div class="w3layouts_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h4>Around The World</h4>
                                    <p>We can help you to send and purchase things from worldwide   </p>
                                    <div class="w3layouts_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="w3l-info">
                                    <h4>The Best Transport</h4>
                                    <p>Using the fastest shipping with affordable price </p>
                                    <div class="w3layouts_more-buttn">
                                        <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </header>
    </div>
    <div class="clearfix"> </div>
</div>

<!-- //header -->
<!-- banner-text -->
<!-- modal -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">JAJAN WAE</h4>
            </div>
            <div class="modal-body">
                <div class="out-info">
                    <img src="images/g1.jpg" alt="" />
                    <p>We provide warehouse and international payment for worldwide transaction with the fastest shipping and affordable price based in Indonesia 🇮🇩</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //modal -->
<!-- //banner-text end -->
