@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--about-->

<div class="about" id="about">
    <div class="container">
        <h3 class="title"> Profile</h3>
        <div class="about-banner-grids ">
            <div class="col-md-4 left-of-about">
                <div class=" about-matter-left">
                    <p>
                        A Startup in shipping and transaction services based in Indonesia.
                        We have partner in many countries mainly Asia Regions.
                    </p>

                </div>
                <div class="stats-cout agileits w3layouts">
                    <div class="col-md-6 col-sm-6 col-xs-6 agileits w3layouts stats-grid stats-grid-1">
                        <div class=" agileits-w3layouts counter">2038</div>
                        <div class="stat-info-w3ls">
                            <h4 class="agileits w3layouts">Clients</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 agileits w3layouts stats-grid stats-grid-2">

                        <div class=" agileits-w3layouts counter">27</div>
                        <div class="stat-info-w3ls">
                            <h4 class="agileits w3layouts ">Transport</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 stats-grid agileits w3layouts stats-grid-3">

                        <div class=" agileits-w3layouts counter">173</div>
                        <div class="stat-info-w3ls">
                            <h4 class="agileits w3layouts ">Projects</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 stats-grid agileits w3layouts stats-grid-4">

                        <div class=" agileits-w3layouts counter">195</div>
                        <div class="stat-info-w3ls">
                            <h4 class="agileits w3layouts">Country</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 about-pic">

            </div>
            <div class="col-md-4 right-of-about">
                <div class=" stats-info-right">
                    <div class="stats-info-text">
                        <h4>2</h4>
                        <h5>years of</h5>
                        <p>experience</p>
                    </div>
                </div>

                <div class="about-matter-right">
                    <p>
                        Your satisfication is our priority.
                        For more details or any request, please do contact us.

                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!--//about-->
