@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--services-section-->

<div class="services" id="services">
    <div class="container">
        <h3 class="title clr">Services</h3>
        <div class="agileits-banner-grids text-center">
            <div class="banner-bottom-girds">
                <div class="col-md-3  col-sm-6 col-xs-6  agileits-banner-grid">
                    <span class="fa fa-truck banner-icon" aria-hidden="true"></span>
                    <h4>WAREHOUSE</h4>
                    <p>we store your things carefully in our own buildings.</p>
                </div>
                <div class="col-md-3  col-sm-6 col-xs-6 agileits-banner-grid">
                    <span class="fa fa-ship banner-icon" aria-hidden="true"></span>
                    <h4>AIR CARGO & DHL EXPRESS</h4>
                    <p>we do the shipping by airway transportation.</p>
                </div>
                <div class="col-md-3  col-sm-6 col-xs-6  agileits-banner-grid">
                    <span class="fa fa-plane banner-icon" aria-hidden="true"></span>
                    <h4>DROP OFF</h4>
                    <p>we accept request for using the waterway transportation.</p>
                </div>
                <div class="col-md-3  col-sm-6 col-xs-6  clr1 agileits-banner-grid">
                    <span class="fa  fa-bus  banner-icon" aria-hidden="true"></span>
                    <h4>INTERNATIONAL TRANSACTION</h4>
                    <p>we also provide payment services for foreign transfer and website. </p>
                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="service-top">


                <div class="col-md-8 services-matter">
                    <p>
                        We already work for more than 2000 clients with many kinds of orders and shipment.
                    </p>
                    <div class="w3_read-buttn ">
                        <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 service-image-grid ">
                </div>
                <div class="clearfix"> </div>

            </div>

        </div>
    </div>
</div>
<!--//service-->